#button1 {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}